    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          <a href="/" class="btn">Start</a>
          <a href="/pages/arduino" class="btn">Arduino</a>
          <a href="/pages/mouse" class="btn">MOUSE</a>
          <a href="/pages/examples" class="btn">Examples</a>
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          {% if site.show_downloads %}
            <a href="https://github.com/mkeller0815/MOUSE2Go/zipball/gh-pages" class="btn">Download as .zip</a>
            <a href="https://github.com/mkeller0815/MOUSE2Go/tarball/gh-pages" class="btn">Download as .tar.gz</a>
          {% endif %}
        </section>
      </div>
    </header>

